.app-head {
  height: 25vh;
  width: 100vw;
  background-image: url('../../Assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #7A88B8;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1vh;
}

.goHome {
  margin-left: 3vw;
}

.search-box {
  margin-right: 3vw;
}

.navigation {
  width: 25%;
  display: flex;
  justify-content: space-between;
}