footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #7A88B8;
}

.creator {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkedin-icon,
.github-icon {
    width: 13px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg) brightness(108%) contrast(101%);
    margin: 0px 5px 0px 5px;
}